.filter, .modal__title, .form, .clients__link, .clients__list, .about__list, .feature__box, .feature__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  min-width: 480px;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  justify-content: space-between;
}

address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1199px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .page-header {
    height: 60px;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .page-header {
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    height: 80px;
  }
}

.logo {
  display: block;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  color: #000000;
  font-family: "Raleway", sans-serif;
}
.logo--invers {
  color: #ffffff;
}
.logo span {
  color: #2196f3;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .logo {
    font-size: 24px;
    line-height: 1.1666666667;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .logo {
    text-align: center;
  }
}

.main {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-nav {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .main-nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .main-nav__list {
    display: flex;
    margin-left: 88px;
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav__list {
    display: flex;
    margin-left: 91px;
    gap: 50px;
  }
}

.main-nav__link {
  position: relative;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__link:hover, .main-nav__link:focus {
  color: #2196f3;
}
.main-nav__link:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transform: scaleX(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav__link:hover:after {
  transform: scaleX(1);
}
.main-nav__link--current {
  color: #2196f3;
}
.main-nav__link--current:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  transform: scaleX(1);
}

.aut-nav {
  justify-content: center;
  margin-left: auto;
  display: none;
}
@media screen and (min-width: 768px) {
  .aut-nav {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .aut-nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.aut-nav__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.aut-nav__link:hover, .aut-nav__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .aut-nav__link {
    font-size: 12px;
    line-height: 1.1666666667;
    padding: 5px 0;
  }
}
@media screen and (min-width: 1200px) {
  .aut-nav__link {
    font-size: inherit;
    line-height: 1.1428571429;
    padding: 32px 0;
  }
}

.aut-nav__icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .aut-nav__icon-envelope {
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
}

.aut-nav__icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .aut-nav__icon-smartphone {
    margin-right: 8px;
    width: 10px;
    height: 14px;
  }
}

.menu-toggle {
  display: inline-flex;
  margin-left: auto;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #ffffff;
  z-index: 999;
  transform: translateX(150%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.mobile-menu--bind {
  margin-top: auto;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  display: block;
  color: inherit;
}

.mobile-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-soc__list {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.menu-soc__item:not(:last-child)::after {
  content: "";
  margin: 0 10px;
  padding: 0;
  width: 1px;
  height: 100%;
  color: red;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.hero {
  margin: 0 auto;
  padding: 118px 0;
  max-width: 1600px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bgImg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 200px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}

.hero__title {
  text-align: center;
  margin: 0 auto 30px;
  width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding: 10px 24px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .feature {
    padding-bottom: 0;
  }
}

.feature__list {
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .feature__list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .feature__list {
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.feature__item {
  align-content: center;
}
@media screen and (min-width: 768px) {
  .feature__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .feature__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.feature__box {
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feature__box:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.feature__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .feature__title {
    text-align: left;
  }
}

.feature__text {
  line-height: 1.5;
  color: #757575;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature__text {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .feature__text {
    text-align: left;
  }
}

@media screen and (max-width: 1199px) {
  .about {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    display: block;
  }
}

.about__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
}

.about__list {
  gap: 30px;
}

.about__item {
  position: relative;
}

.about__text {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  text-align: center;
  font-weight: 700;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .team__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.1785714286;
  }
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.team__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.team__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__img {
  width: auto;
}

.team__card {
  padding: 30px 0;
}

.team__card-title {
  text-align: center;
  margin-bottom: 10px;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  color: #212121;
}

.team__text {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  color: #757575;
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}
.social__link:hover, .social__linkfocus {
  color: #ffffff;
  background-color: #2196f3;
}

.social__icon {
  fill: currentColor;
}
.social__icon--footer {
  fill: #ffffff;
}

.clients__title {
  text-align: center;
  font-weight: 700;
}
@media screen and (max-width: 1199px) {
  .clients__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.1785714286;
  }
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.clients__list {
  flex-wrap: wrap;
  gap: 30px;
}

.clients__item {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .clients__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  width: 100%;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer__box {
  display: flex;
  justify-content: center;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1199px) {
  .footer__box {
    flex-wrap: wrap;
  }
}

.footer__links {
  min-width: 230px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__links {
    margin-right: 165px;
  }
}

.footer__adress {
  margin-top: 20px;
  font-style: normal;
}
@media screen and (max-width: 1199px) {
  .footer__adress {
    margin-bottom: 60px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
@media screen and (max-width: 1199px) {
  .footer__list {
    align-items: center;
  }
}

.footer__link {
  font-weight: 400;
  line-height: 1.71;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link--map {
  color: #ffffff;
}
.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .footer__soc {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__soc {
    margin-left: 70px;
  }
}

.footer__soc-title {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .footer__soc-title {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__field {
    display: flex;
  }
}

.subscription__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .subscription__label {
    text-align: center;
  }
}

.subscription__input {
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (max-width: 1199px) {
  .subscription__input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    margin-right: 12px;
  }
}

.subscription__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__btn:hover, .subscription__btn:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 1199px) {
  .subscription__btn {
    margin: 0 auto;
  }
}

.subscription__icon {
  margin: 10px;
  fill: currentColor;
}

.backdrop {
  position: relative;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.modal {
  position: absolute;
  padding: 40px;
  width: 528px;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border-radius: 50%;
  color: var(--logo-color-text);
  background: var(--body-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn-close:hover, .modal__btn-close:focus {
  color: #2196f3;
}

.modal__icon-close {
  fill: currentColor;
}

.form {
  flex-direction: column;
}

.modal__form {
  width: 100%;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}

.modal__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.modal__field-texarea {
  margin-bottom: 0;
}

.modal__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.01em;
  color: var(--paragraph-text-color);
}

.modal__input {
  padding: 11px 12px;
  padding-left: 42px;
  height: 40px;
  cursor: pointer;
  border-radius: 4px;
  color: #757575;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border-color: #2196f3;
}
.modal__input:hover + .modal__icon, .modal__inputfocus + .modal__icon {
  fill: #2196f3;
}

.modal__icon {
  position: absolute;
  top: 35px;
  left: 12px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__feedback {
  padding: 12px 16px;
  height: 120px;
  cursor: pointer;
  color: var(--paragraph-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__feedback:hover, .modal__feedback:focus {
  border-color: #2196f3;
}

.modal__agree {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__checkbox-check {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border-radius: 1px;
  fill: transparent;
  cursor: pointer;
  border: 2px solid #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-input {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
.modal__checkbox-input:hover + .modal__checkbox-check, .modal__checkbox-input:focus + .modal__checkbox-check {
  border-color: #2196f3;
}
.modal__checkbox-input:checked + .modal__checkbox-check {
  border-color: #2196f3;
  fill: #2196f3;
}

.modal__checkbox-lable {
  margin-left: 8px;
  cursor: pointer;
  color: var(--paragraph-text-color);
  line-height: 1.714;
}

.modal__checkbox-icon {
  display: flex;
  position: absolute;
}

.modal__link {
  color: #2196f3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.modal__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.filter {
  margin-bottom: 50px;
}

.filter__list {
  gap: 8px;
}

.filter__button {
  text-align: center;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.category {
  flex-wrap: wrap;
  gap: 30px;
}

.category__list {
  display: flex;
  width: 100%;
  background-color: #ffffff;
}

.category__thumb {
  position: relative;
  overflow: hidden;
}

.category__text {
  position: absolute;
  padding: 64px 24px;
  left: 0;
  bottom: 0;
  font-size: 18px;
  line-height: 1.555;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.category__link {
  color: inherit;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.category__link:hover, .category__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.category__link:hover .category__text, .category__link:focus .category__text {
  transform: translateY(0);
}

.category__card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.category__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.category__descript {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}/*# sourceMappingURL=main.css.map */