:root {
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --paragraph-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --accent-bg-color: #188ce8;
  --logo-color-text: #000000;
  --team-bg-colot: #f5f4fa;
  --body-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --line-color: #ececec;
  --icon-color: #afb1b8;
  --primary-font-size: 14px;
  --main-font: 'roboto', sans-serif;
}

body {
  font-family: var(--main-font);
  font-size: var(--primary-font-size);
  letter-spacing: 0.03em;
  background-color: var(--body-bg-color);
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
  /* color: inherit; */
}

ul {
  /* padding: 0; */
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* LOGO */

.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: 'Raleway', sans-serif;
  color: var(--logo-color-text);
}
.logo span {
  color: var(--accent-color);
}

/* site nav */
.list {
}

.site-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.current {
  color: var(--accent-color);
}

.site-link:hover,
.site-link:focus {
  color: var(--accent-color);
}

.author-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
}

.author-link:hover,
.author-link:focus {
  color: var(--accent-color);
}

/* HERO */

.hero {
  /* padding: 200px 0 280px 0; */
  background-color: var(--footer-bg-color);
  text-align: center;
}

.hero-title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  /* padding: 10px 32px; */
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Section */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
}

/* Feature */

/* .feature {
 
} */

.feature-title {
  font-size: var(--primary-font-size);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}

.feature-description {
  line-height: 1.5;
  color: var(--paragraph-text-color);
}

/* Employment */

/* Team */

.section-team {
  background-color: var(--team-bg-colot);
}

.team {
  width: 270px;
  background-color: var(--body-bg-color);
}

.team-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
  color: var(--primary-text-color);
}

.team-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  text-align: center;
  color: var(--paragraph-text-color);
}

/* Footer */

.footer {
  font-style: normal;
  /* padding: 60px 0 60px 215px; */
  background-color: var(--footer-bg-color);
}

.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}

.footer-logo span {
  color: var(--accent-color);
}

.footer-adress {
  font-style: normal;
}

.footer-adress .link {
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 1.71;
  color: var(--paragraph-text-color);
}

.footer-adress .link:hover,
.footer-adress .link:focus {
  color: var(--accent-color);
}

.footer-adress .link-map {
  color: var(--secondary-text-color);
}

.footer-adress .link-map:hover,
.footer-adress .link-map:focus {
  color: var(--accent-color);
}

/* СТОРІНКА ПОРТФОЛІО */

/* Filter */

.filter {
}

.filter-list {
  display: inline-block;
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--team-bg-colot);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  /* padding: 6px 22px; */
}

.filter-button:hover,
.filter-button:focus {
  color: var(--body-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Category */

.category {
}

.category-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.category-description {
  font-size: 16px;
  line-height: 1.875;
  color: var(--paragraph-text-color);
}
