/* цвета проекта */
/* #212121 */
/* #757575 */
/* #FFFFFF */
/* #2196F3  Hover*/
/* подвал на ссілки rgba(255, 255, 255, 0.6); */

/* логотип #000000  #2196F3*/
/* основной бг #F5F5F5 */
/* наша команда бг #F5F4FA */
/* наша команда карточки бг #F5F4FA */
/* герой подвал бг #2F303A */

:root {
    --primary-text-color: #212121;
    --paragraph-text-color: #757575;
    --accent-color: #2196F3;
    --team-bg-colot: #F5F4FA;
    --body-bg-color: #FFFFFF;
    }

body {
    font-size: 16px;
    font-family: 'Roboto';
    letter-spacing: 0.03em;
    background-color: var(--body-bg-color);
    color: var(--primary-text-color);
    max-width: 1600px;
}

a {
    text-decoration: none;
    /* color: inherit; */
}

ul {
    padding: 0;
}

li {
    
    list-style: none;
}

/* LOGO */

.logo {
    font-family: 'Raleway';
    color: #000000;
}
.logo span {
    color: var(--accent-color);
}

/* site nav */

.site-nav .link {
    color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav .link {
    color: var(--paragraph-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

/* HERO */

.hero {
    padding: 200px 0 280px 0;
    color: #ffffff;
    background-color: #2F303A;
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero button {
    font-size: 14px;
    color: #ffffff;
    background-color: var(--accent-color);
    border: none;
    height: 50px;
    padding: 10px 32px;
}

/* Section */

.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

/* Feature */

.feature {
    width: 270px;
    font-style: normal;
    font-size: 14px;
}

.feature-title {
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}

.feature-description {
    font-weight: 400;
    line-height: 24px;
    color: var(--paragraph-text-color);
}


/* Employment */



/* Team */

.section-team {
    background-color: var(--team-bg-colot);
}

.team {
    width: 270px;
    line-height: 19px;
    text-align: center;
}

.team-title {
    font-weight: 500;
    color: var(--primary-text-color);
}

.team-description {
    font-weight: 400;
    color: var(--paragraph-text-color);
}

/* Footer */

.footer {
    padding: 60px 0 60px 215px;
    background-color: #2F303A ;
}

.footer-logo {
    font-family: 'Raleway';
    color: #ffffff;
}

.footer-logo span {
    color: var(--accent-color);
}

.footer-adress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--paragraph-text-color);
}

.footer-adress .link {
    color: var(--paragraph-text-color);
}

.footer-adress .link span {
    color: #ffffff;
}

.footer-adress .link:hover,
.footer-adress .link:focus {
    color: var(--accent-color);
}

.footer-adress .link span:hover,
.footer-adress .link span:focus {
    color: var(--accent-color);
}

/* СТОРІНКА ПОРТФОЛІО */

/* Filter */

.filter {

}

.filter li {
    display: inline-block;
}

.filter {
    display: inline-block;
}

.filter button {
    font-weight: 500;
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    color: var(--primary-text-color);
    background-color: var(--team-bg-colot);
    border: none;
    height: 38px;
    padding: 6px 22px;

}

.filter button:hover,
.filter button:focus {
    
    color: var(--body-bg-color);
    background-color: var(--accent-color);
}

/* Category */

.category {
    text-align: center;
}
