:root {
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --paragraph-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --accent-bg-color: #188ce8;
  --logo-color-text: #000000;
  --logo-footer-color: #ffffff;
  --team-bg-colot: #f5f4fa;
  --team-card-bg-color: #ffffff;
  --body-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --border-color: #eeeeee;
  --line-color: #ececec;
  --icon-color: #afb1b8;
  --primary-font-size: 14px;
  --main-font: 'roboto', sans-serif;
}

body {
  font-family: var(--main-font);
  font-size: var(--primary-font-size);
  letter-spacing: 0.03em;
  background-color: var(--body-bg-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.header {
  padding: 25px 0;
  border-bottom: 1px solid #ececec;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/* LOGO */

.logo {
  margin-right: 93px;
  color: var(--logo-color-text);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: 'Raleway', sans-serif;
}
.logo span {
  color: var(--accent-color);
}

/* site nav */

.site-nav .item:not(:last-child),
.aut-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.current {
  color: var(--accent-color);
}

.site-link:hover,
.site-link:focus {
  color: var(--accent-color);
}

.aut-link {
  display: inline-block;
  color: var(--paragraph-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.aut-link:hover,
.aut-link:focus {
  color: var(--accent-color);
}

/* HERO */

.hero {
  padding: 200px 0;
  background-color: var(--footer-bg-color);
}

.hero-title {
  margin: 0 auto 30px;
  color: var(--secondary-text-color);
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.hero-button {
  margin: auto;
  padding: 10px 32px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Section */
.section {
  padding: 94px 0;
}

.section-feature {
  padding-bottom: 0;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
}

.list {
  display: flex;
  justify-content: center;
}

/* Feature */

.feature-list {
  width: 270px;
  margin-right: 30px;
}

.feature-list:last-child {
  margin-right: 0;
}

.feature-title {
  margin-bottom: 10px;
  font-size: var(--primary-font-size);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: left;
}

.feature-description {
  color: var(--paragraph-text-color);
  line-height: 1.5;
  text-align: left;
}

/* Employment */

.employment-list:not(:last-child) {
  margin-right: 30px;
}

/* Team */

.section-team {
  background-color: var(--team-bg-colot);
}

.team-list {
  display: inline-block;
  background: var(--team-card-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  padding: 30px 0;
}

.team-title {
  margin-bottom: 10px;
  justify-content: center;
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  text-align: center;
}

.team-description {
  color: var(--paragraph-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1875;
  text-align: center;
}

/* Footer */

.footer {
  padding: 60px 0;
  background-color: var(--footer-bg-color);
}

.footer .item + .item {
  margin-top: 9px;
}

.footer-logo {
  display: inline-block;
  color: var(--logo-footer-color);
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: 'Raleway', sans-serif;
}

.footer-logo span {
  color: var(--accent-color);
}

.footer-adress {
  font-style: normal;
}

.footer-adress .link {
  color: var(--paragraph-text-color);
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 1.71;
}

.footer-adress .link:hover,
.footer-adress .link:focus {
  color: var(--accent-color);
}

.footer-adress .link-map {
  color: var(--secondary-text-color);
}

.footer-adress .link-map:hover,
.footer-adress .link-map:focus {
  color: var(--accent-color);
}

/* СТОРІНКА ПОРТФОЛІО */

/* Filter */

.filter {
  margin-bottom: 50px;
}

.filter-list:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--team-bg-colot);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--body-bg-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Category */

.category {
  flex-wrap: wrap;
}

.category-list {
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: var(--team-card-bg-color);
}

.category-list:nth-child(3n) {
  margin-right: 0;
}

.category-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.category-card {
  padding: 20px 24px;
  border: 1px solid var(--border-color);
}

.category-title {
  display: inline-block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.category-description {
  color: var(--paragraph-text-color);
  font-size: 16px;
  line-height: 1.875;
}
