.feature {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
}
.feature__list {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}
.feature__item {
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.feature__box {
  @extend %centered;
  margin-bottom: 30px;
  height: 120px;
  background-color: $teamBgColot;
  border-radius: 4px;
  transition: box-shadow $durationFunction $timingFunction;
  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.feature__title {
  margin-bottom: 10px;
  font-size: $primaryFontSize;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.feature__text {
  line-height: 1.5;
  color: $paragraphTextColor;
}
