.footer {
  padding: 60px 0;
  background-color: $footerBgColor;
}

.footer__box {
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.footer__links {
  min-width: 232px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 165px;
  }
}

.footer__adress {
  margin-top: 20px;
  font-style: normal;
  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  @media screen and (max-width: 1199px) {
    align-items: center;
  }
}

.footer__link {
  font-weight: 400;
  line-height: 1.71;
  color: $paragraphTextColor;
  transition: color $durationFunction $timingFunction;
  &--map {
    color: $secondaryTextColor;
  }
  &:hover,
  &:focus {
    color: $accentColor;
  }
}

.footer__soc {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}

.footer__soc-title {
  display: block;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: $secondaryTextColor;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
