.logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $logoTextColor;
  font-family: $logoFont;
  &--invers {
    color: $logoInversTextColor;
  }
  & span {
    color: $accentColor;
  }
}
