.logo {
  display: block;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: $logoTextColor;
  font-family: $logoFont;
  &--invers {
    color: $logoInversTextColor;
  }
  & span {
    color: $accentColor;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    font-size: 24px;
    line-height: calc(28 / 24);
  }

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    text-align: center;
  }
}
