.category__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  background-color: $CardBgColor;
}

.category__item {
  width: 100%;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.category__thumb {
  position: relative;
  overflow: hidden;
}

.category__img {
  width: 100%;
}

.category__text {
  position: absolute;
  padding: 64px 24px;
  left: 0;
  bottom: 0;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: $secondaryTextColor;
  background-color: $cardAccentColor;
  transform: translateY(101%);
  transition: transform $durationFunction $timingFunction;
  overflow: auto;
}

.category__link {
  color: inherit;
  transition: box-shadow $durationFunction $timingFunction;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover .category__text,
  &:focus .category__text {
    transform: translateY(0);
  }
}

.category__card {
  padding: 20px 24px;
  border: 1px solid $borderColor;
  border-top: none;

  &--first {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-bottom: 56px;
    }
  }
}

.category__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
}

.category__descript {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: $paragraphTextColor;
}
