.main {
  display: flex;
  align-items: center;
  width: 100%;
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__list {
  @media screen and (min-width: 480px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
    gap: 50px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: 91px;
    gap: 50px;
  }
}

.main-nav__link {
  position: relative;
  padding: 32px 0;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color $durationFunction $timingFunction;

  &:hover,
  &:focus {
    color: $accentColor;
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accentColor;
    transform: scaleX(0);
    transition: transform $durationFunction $timingFunction;
  }
  &:hover:after {
    transform: scaleX(1);
  }
  &--current {
    color: $accentColor;
  }
  &--current:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accentColor;
    transform: scaleX(1);
  }
}

.aut-nav {
  justify-content: center;
  margin-left: auto;
  display: none;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}

.aut-nav__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $paragraphTextColor;
  transition: color $durationFunction $timingFunction;
  &:hover,
  &:focus {
    color: $accentColor;
  }
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(14 / 12);
    padding: 5px 0;
  }
  @media screen and (min-width: 1200px) {
    font-size: inherit;
    line-height: calc(16 / 14);
    padding: 32px 0;
  }
}

.aut-nav__icon-envelope {
  margin-right: 10px;
  fill: currentColor;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }
}

.aut-nav__icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
    width: 10px;
    height: 14px;
  }
}
