.team {
  background-color: $teamBgColot;
}

.team__title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: calc(33 / 28);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

.team__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.team__item {
  background: $teamCardBgColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__img {
  width: auto;
}

.team__card {
  padding: 30px 0;
}

.team__card-title {
  text-align: center;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: $primaryTextColor;
}

.team__text {
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: calc(19 / 16);
  color: $paragraphTextColor;
}
