$primaryTextColor: #212121;
$secondaryTextColor: #ffffff;
$paragraphTextColor: #757575;
$logoTextColor: #000000;
$accentColor: #2196f3;
$logoInversTextColor: #ffffff;
$footerTextColor: rgba(255, 255, 255, 0.6);
$accentBtnColor: #188ce8;
$cardAccentColor: rgba(33, 150, 243, 0.9);
$bgBackdrop: rgba(0, 0, 0, 0.2);
$logoFooterColor: #ffffff;
$teamBgColot: #f5f4fa;
$teamCardBgColor: #ffffff;
$CardBgColor: #ffffff;
$bodyBgColor: #ffffff;
$footerBgColor: #2f303a;
$borderColor: #eeeeee;
$lineColor: #ececec;
$iconColor: #afb1b8;
$primaryFontSize: 14px;
$mainFont: 'roboto', sans-serif;
$logoFont: 'Raleway', sans-serif;
$borderRadius: 4px;
$durationFunction: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
